$font-color-blue:var(--font-color-blue);
$primary-text-color:var(--primary-text-color);

:root {
  --font-color-blue: orange;
  --primary-text-color: white;
}


@mixin important-bg{
  background:red;
}
